* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
    /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  font-family: 'Ubuntu', sans-serif;
}

html {
  background: rgba(0, 0, 0, 0) url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:active {
  color: white;
  font-size: 20px;
}

a:hover {
  color: blue;
  font-size: 24px;
}

body {
  padding-top: 10px;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: white;
}

h3 {
  font-size: 18px;
  color: white;
}

h4 {
  font-size: 10px;
  font-weight: normal;
  color: white;
}

form #foodsearch {
  background: lightgray;
  border-radius: 1px;
  padding: 5px;
}

label {
  font-weight: bold;
}

form #login, #register {
  padding: 10px;
}

input {
  padding: 1%;
  margin: 1%;
}

#food_search, #password, #username, #new_username, #new_email, #new_password, #recipe_search {
  margin: 10px;
  width: 80%;
}

.fa-trash:hover {
  color: red;
  font-size: 20px;
}

.login_error {
  background: red;
  font-size: 20px;
  color: black;
  border-radius: 2px;
}

.search_error {
  background: red;
  font-size: 16px;
  color: black;
  border-radius: 2px;
  font-weight: bold;
}

.login_transparency {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  width: 30%;
  background-image: url("images/transparent.jpg");
  border-radius: 0.5rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.top_header {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.newuser_transparency {
  vertical-align: middle;
  text-align: center;
  margin: auto;
  width: 30%;
  background-image: url("images/transparent.jpg");
  border-radius: 0.5rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.container {
  background: url("images/transparent.jpg");
  border-radius: 0.5rem;
  padding-top: 10px;
  margin-bottom: 25px;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
  padding: 25px;
}

.transparency {
  background-image: url("images/transparent.jpg");
  border-radius: 0.5rem;
  padding: 1rem;
  width: 60%;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin: auto;
  width: 70%;
  text-align: center;
}

.intro {
  color: white;
  font-size: 18px;
}

.new_menu {
  color: lightblue;
  font-size: 20px;
}

.menu_error {
  background:red;
  border-radius:1px;
}

.menu_success {
  background:green;
  border-radius:1px;
}

.week_col, .mon_col, .tues_col, .wed_col, .thurs_col, .fri_col, .weekend_col {
  display: inline-block;
  vertical-align: top;
  background: darkgray;
}

.header {
  background: darkcyan;
  color: black;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  padding: 5%;
  border: 1px solid;
}

.sat, .sun {
  background:darkslategrey;
}

.yellow {
  color: #f4e842;
}

.external_link {
  font-size: 12px;
}

.column {
  width: 170px;
  background: darkgrey;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.side_search {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
  z-index: 1000;
}

#panel {
  display: none;
  background: darkgray;
  text-align: center;
  position: fixed;
  width: 20%;
  height: 75%;
  top: 60;
  left: 0;
  border: 1px solid black;
  padding-bottom: 15px;
}

.drop {
  padding-bottom: 5%;
  padding-top: 1%;
  font-size: 10px;
  position:relative;
}

#panel_faves {
  display: none;
  background: darkgrey;
  text-align: center;
  position: fixed;
  width: 20%;
  height: 75%;
  top: 60;
  right: 0;
  padding-top: 1%;
  border: 1px solid black;
}

#foodsearch {
  padding: 10px;
}

.side_faves {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.disclaimer {
  padding: 10px;
  margin: auto;
  align-content: center;
}

.slide_faves {
  margin: 0;
  padding: 0;
  background: skyblue;
  height: 60px;
  border: 2px solid black;
  font-size: 22px;
}

#clear, #submit {
  padding: 1%;
  margin: 1%;
}

.sidesearch {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.slide {
  margin: 0;
  padding: 0;
  background: skyblue;
  height: 60px;
  border: 2px solid black;
  font-size: 22px;
}

.results_col {
  display: inline-block;
  vertical-align: top;
  background: darkgray;
}

.search_col {
  display: inline-block;
  vertical-align: top;
  background: darkgray;
}

.results {
  display: inline-block;
  overflow-y: auto;
  width: 100%;
  height: 78%;
  background: darkgray;
  margin: auto;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.options {
  font-size: 16px;
}

.faves {
  display: inline-block;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: darkgray;
  margin: auto;
  text-align: center;
}

.search_headers {
  font-size: 20px;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
}

.highlight {
  background: yellow;
  font-weight: bold;
}

.portlet {
  text-align: center;
  padding: 0.3em;
  background: #9fc4c9;
  border: 1px solid;
  border-radius: 1px;
  margin-top: 5%;
}

.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
  background: #319e78;
}

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

.portlet-content {
  padding: 0.4em;
}

.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 100px;
  width: 150px;
}

/*sub 480, will display block for small screens */
@media handheld, screen and (max-width: 480px) {
  body {

  }
  .login_transparency {
    width: 75%;
  }
  .newuser_transparency {
    width: 75%;
  }
  .childWrapper {
     width:90%;
  }
  .map {
      margin:1% auto;
      display:block;
      width:90%;
      border-radius:1px;
  }

.events {
    margin:1% auto;
    display:block;
    width:90%;
    border-radius:1px;
  }
}
