* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    font-family: 'Ubuntu', sans-serif;
}

form {
    background: lightgray;
    border-radius: 1px;
    padding: 5px;
}

body {
    padding-top: 10px;
    background-image: url("images/background.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: white;
}

.container {
    background: darkgray;
    border: 2px solid black;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.transparency {
    background-image: url("images/transparent.jpg");
    border-radius: 0.5rem;
    padding: 1rem;
    width: 60%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin: auto;
    width: 70%;
    text-align: center;
}

.intro {
    color: white;
    font-size: 20px;
}

.week_col, .mon_col, .tues_col, .wed_col, .thurs_col, .fri_col, .weekend_col {
    display: inline-block;
    vertical-align: top;
    background: darkgray;
}

.header {
    background: lightgray;
    color: black;
    font-weight: bold;
    font-size: 20px;
    width: 170px;
    text-align: center;
    text-decoration: underline;
}

.column {
    width: 175px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    margin: auto;
}

.side_search {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    border-radius: 2px;
    border: 1px solid black;
}

#panel {
    display: none;
    background: darkgray;
    text-align: center;
    position: fixed;
    width: 20%;
    height: 60%;
    top: 60;
    left: 0;
    border:1px solid black;
}

#panel_faves {
    display: none;
    background: darkgray;
    text-align: center;
    position: fixed;
    width: 20%;
    height: 60%;
    top: 60;
    right: 0;
    border:1px solid black;
}

#foodsearch {
    padding: 10px;
}

.side_faves {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    border-radius: 2px;
    border: 1px solid black;
}

.slide_faves {
    margin: 0;
    padding: 0;
    background: skyblue;
    height: 60px;
    border: 2px solid black;
    font-size: 20px;
}

.sidesearch {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.slide {
    margin: 0;
    padding: 0;
    background: skyblue;
    height: 60px;
    border: 2px solid black;
    font-size: 20px;
}

.results_col {
    display: inline-block;
    vertical-align: top;
    background: darkgray;
}

.search_col {
    display: inline-block;
    vertical-align: top;
    background: darkgray;
}

.results {
    display: inline-block;
    overflow: scroll;
    width: 100%;
    height: 400px;
    background: darkgray;
    margin: auto;
    text-align: center;
}

.search_headers {
    font-size: 16px;
    font-weight: bold;
}

.search_results {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    overflow: scroll;
}

.portlet {
    text-align: center;
    margin: 0 1em 1em 0;
    padding: 0.3em;
}

.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.portlet-content {
    padding: 0.4em;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}
