* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    font-family: 'Ubuntu', sans-serif;
}

a:hover {
  font-size:24px;
  color:white;
}

.truncate {
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-trash:hover {
  color:red;
  font-size:20px;
}

html {
    background: rgba(0, 0, 0, 0) url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding-top: 10px;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: white;
}
h3 {
    font-size:18px;
    color:white;
}

form #foodsearch {
    background: lightgray;
    border-radius: 1px;
    padding: 5px;
}

form #login, #register {
    padding:10px;
}

input {
  padding:3px;
  margin:5px;
}

label {
  font-weight: bold;
}

.login_error {
  background:red;
  font-size:20px;
  color:black;
  border-radius:1px;
}
.search_error {
  background:red;
  font-size:20px;
  color:black;
  border-radius:1px;
}
a.new_user {
  color:lightgreen;
}

.login_transparency {
  vertical-align:middle;
  text-align:center;
  margin:auto;
  width:30%;
  background-image: url("images/transparent.jpg");
  border-radius: 0.5rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  margin-top:15%;
  margin-left: auto;
  margin-right: auto;
  padding:1rem;
}

.newuser_transparency {
  vertical-align:middle;
  text-align:center;
  margin:auto;
  width:30%;
  background-image: url("images/transparent.jpg");
  border-radius: 0.5rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
  margin-top:15%;
  margin-left: auto;
  margin-right: auto;
  padding:1rem;
}

.container {
    background: url("images/transparent.jpg");
    border-radius: 0.5rem;
    padding-top: 10px;
    margin-bottom: 25px;
    margin-top:5%;
    margin-left: 8%;
    margin-right: 8%;
    padding:25px;
}

.transparency {
    background-image: url("images/transparent.jpg");
    border-radius: 0.5rem;
    padding: 1rem;
    width: 60%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin: auto;
    width: 70%;
    text-align: center;
}

.intro {
    color: white;
    font-size: 20px;
}

.new_menu {
  color:lightblue;
  font-size:20px;
}

.week_col, .mon_col, .tues_col, .wed_col, .thurs_col, .fri_col, .weekend_col {
    display: inline-block;
    vertical-align: top;
    background: darkgray;
}

.header {
    background: lightgray;
    color: black;
    font-weight: bold;
    font-size: 20px;
    width: 170px;
    text-align: center;
    text-decoration: underline;
}

.yellow {
  color:#f4e842;
}

.column {
    width: 175px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    margin: auto;
    cursor:pointer;
}

.side_search {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    border-radius: 2px;
    border: 1px solid black;
    cursor:pointer;
}

#panel {
    display: none;
    background: darkgray;
    text-align: center;
    position: fixed;
    width: 20%;
    height: 75%;
    top: 60;
    left: 0;
    border:1px solid black;
    padding-bottom:15px;
}

#panel_faves {
    display: none;
    background: darkgray;
    text-align: center;
    position: fixed;
    width: 20%;
    height: 75%;
    top: 60;
    right: 0;
    padding-bottom:15px;
    border:1px solid black;
}

#foodsearch {
    padding: 10px;
}

.side_faves {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    border-radius: 2px;
    border: 1px solid black;
    cursor:pointer;
}

.slide_faves {
    margin: 0;
    padding: 0;
    background: skyblue;
    height: 60px;
    border: 2px solid black;
    font-size: 20px;
}

.sidesearch {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.slide {
    margin: 0;
    padding: 0;
    background: skyblue;
    height: 60px;
    border: 2px solid black;
    font-size: 20px;
}

.results_col {
    display: inline-block;
    vertical-align: top;
    background: darkgray;
}

.search_col {
    display: inline-block;
    vertical-align: top;
    background: darkgray;
}

.results {
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 78%;
    background: darkgray;
    margin: auto;
    text-align: center;
}

.faves {
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: darkgray;
    margin: auto;
    text-align: center;
}

.search_headers {
    font-size: 16px;
    font-weight: bold;
}

.highlight {
  background:yellow;
  font-weight:bold;
}

.portlet {
    text-align: center;
    margin: 0 1em 1em 0;
    padding: 0.3em;
}

.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.portlet-content {
    padding: 0.4em;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}
